<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString"
         connectionString="Data Source=194.171.20.101.;Initial Catalog=RBS1617S_db06;ID=RBS1617S_grp06;Password=NwawwcGBA7"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>