<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBConnectionString"
		providerName="System.Data.SqlClient"
		connectionString="Persist Security Info=False;User ID=RBS1617S_grp06;Password=NwawwcGBA7;Initial Catalog=RBS1617S_db06;Server=194.171.20.101" />
  </connectionStrings>
</configuration>
