<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Persist Security Info=False;User ID=RBS1617S_grp06;Password=NwawwcGBA7;Initial Catalog=RBS1617S_db06;Server=194.171.20.101"
      providerName="System.Data.SqlClient" />
    <add name="UI.Properties.Settings.RBS1617S_DB06ConnectionString"
      connectionString="Data Source=194.171.20.101;Initial Catalog=RBS1617S_DB06;Persist Security Info=True;User ID=RBS1617S_grp06;Password=NwawwcGBA7"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
